.ArtifactInspection{
	 
}
.ArtifactPreview, .CommentTable, .modal-body{
	min-height: 450px;
}

body .modal{
	width: 1100px;
	height:auto;
	
	margin-left:-550px;
}

.Artifact{
	border: 1px solid #a4b1c9;
	margin: 0px 0px 10px 0px;
	min-width: 13em;
	position: relative;
}
.Artifacts{
	padding: 10px;
	border: 2px solid #00aaaa;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;

}
.Artifact-onhover{
	border: 1px solid #555555;
	margin: 10px 0px;
}

.InspectionItem , .InspectionItemExpanded{
	border: 2px solid #00aaaa;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.IIContent{
	display:none;
}
.liquid{
	margin: 0px 0px 10px 0px;
}
.Status{
	width:6em;
	
}
