
.ChatInner{
	height: 99%; /*don forget to substract border of parent*/

}
.ChatContainer{
	position: relative;
	height: 400px;
	max-width: 300px;
	min-width: 200px;
	/*min-width: 10px;*/
	padding: 10px 10px;
	/*border: 1px solid #cccccc;*/
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px;
}
.MessageWindowInner{
	height: 100%; /*don forget to substract border of parent*/

}
.SendMessage{
	height: 30%; /*don forget to substract border of parent*/

}
.MessageWindow{
	height: 70%; /*don forget to substract border of parent*/
}
.UserDigest{
	text-align: right;
}

.MessageWindowInner{
	overflow-x: none;
	overflow-y: hidden;
	/*Remove this crap after find out how to compensate bubble chanes when 
	scroll bar appear*/
	padding-right: 17px; 

}
.MessageWindowInner:hover{
	overflow-x: none;
	overflow-y: auto;
	/*Remove this crap after find out how to compensate bubble chanes when 
	scroll bar appear*/
	padding-right: 0px;
	
}

.MessageInner{
	background-color:#c6dbdd;
}

.AuthorDigest{
	color: #212318;
}

.ChatTypeBox, ChatTypeBox:hover{
	width: 97%;/*Do something with width of text area. It is fucked
	*/	
}
.ChatTypeBox{
	overflow-x: none;

	overflow-y: hidden;

}
.ChatTypeBox:hover{
	overflow-x: none;
	overflow-y: auto;
}
.Dock{
	background-color: rgba(0,0,0,0.5);
	width:20px;
	height: 100%;
	position: absolute;
	top:0px;
	left:-20px;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	border-radius:5px 0px 0px 5px;
	display:none;
}