


.InspectionItem {

	background-color:#000099;
}

.InspectionItemExpanded {
	background-color:#0000ff;
	
}

.InspectionItemExpanded, .InspectionItem{
	border-top: 1px solid #ff9999;
	border-bottom: 1px solid #ff9999;
}

.IIHeader{

	padding: 1% 3%;
}
.IIHeaderContentExpanded{

	background-color:#00aa33;
	border-bottom:1px solid #0000ff;
	padding: 1% 3%;
}
/* .IINotesPanel{
	height:100%;
	width:30%;
	float:right;
	background-color:#9ca8a39;
	border: 2px solid white;
	padding: 1% 3%;
} */
.IIContent,.IIContentCollapse{
	display:none;
	padding: 1% 3%;
}

/* ficking change the confusing name */
.IIContentCollapse{
	float:right;
}

