.PageMainContainer {
	clear:both;
	min-width: 16em;
	margin: 2em 0em 2em; 
}
.PageContainer {
	width:100%;
	min-width: 18em;
	
	
	
}
.PageContainer, .PageMainContainer{
	background-color:#111111;
}
.ImportantInformation, .Header, .Footer, .PageContainer,
.NavigatioBar, .InspectionsListContainer {
	border:1px solid #ff9999;
}
.InspectionItemExpanded{
	border-top: 1px solid #ff9999;
	border-bottom: 1px solid #ff9999;
}
.Header{
	clear:both;
	text-align:center;
	min-width: 16em;
	text-decoration:none;
	color:white;
	background-color: #ff0000;
	padding: 3em 1em 3em 1em;
	margin-left: 7%;
	margin-right: 5%;

} 
.ImportantInformation {
	background-color:#ffcccc;
	margin-left: 7%;
	margin-right: 5%;
	padding: 3% 5% 3% 5%;
}
.InspectionsListContainer {
	color:#ffffff;
	background-color:#00aa55;
	margin-left: 7%;
	margin-right: 5%
}
.InspectionItem {
	background-color:#000099;
	padding: 3% 5% 3% 5%;
}

.InspectionItemExpanded {
	background-color:#0000ff;
	padding: 3% 5% 3% 5%;
}

.NavigationBar, .Footer {
	clear:both;
	background-color:#005500;
	min-width: 16em;
	margin-left: 7%;
	margin-right: 5%;	
}
.Navigation {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
}
.NavigationItem{
	text-align:center;
	display:inline;
	
}
.NavigationItemLink{
    
	float:left;
	width:4em;
	text-decoration:none;
	color:white;
	background-color:#ff0000;
	padding: 0.2em 0.6em;
	border:1px solid #ff9999;
	
}
.NavigationItemLink:hover, .NavigationItemLinkLogin:hover{
	background:#ff7700;
	/* border-right-color:#777777;
	border-bottom-color:#777777; */
	/* box-shadow: 0.1em 0.1em #777777; */
	
} 
.NavigationItemLinkLogin{
	float:right; 
	width:4em;
	text-decoration:none;
	color:white;
	background-color:#ff0000;
	padding: 0.2em 0.6em;
	border:1px solid #ff9999;
}

